<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
      <form action={{action}} method="post">
        <h3>Enter your text here :</h3>
        <br/>
        <br/>
        <p>
          <textarea class="textarea-size" name="textToBeNormalized"></textarea>
        </p>
        <br/>
        <p align="center">
          <button class="btn btn-primary buttonStyle" type="submit" value="submit">Normalize</button>
        </p>
      </form>
    </div>
    <div class="col-xs-12 col-sm-2 col-lg-2"></div>
  </div>
</div>