<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-6">
      <img src={{anoopsrc}} alt="Anoop Bhat N" height="200" width="200">
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-6" style="font-size : 25px">
      Anoop Bhat N <br/>
      4JC14CS130
    </div>
  </div>
  <br/>
  <br/>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-lg-6">
      <img src={{shashanksrc}} alt="Shashank Hegde" height="200" width="200">
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-6" style="font-size : 25px">
      Shashank Hegde <br/>
      4JC14CS092
    </div>
  </div>
  <br/>
  <br/>

  <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-6" style="font-size : 25px">
        Find the complete solution here : 
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-6" style="font-size : 12px">
        <a href="https://bitbucket.org/anoopbhatn/tnfrontend/" target="_blank">Front End</a><br/>
        <a href="https://bitbucket.org/anoopbhatn/text_normalization/" target="_blank">Back End</a>
      </div>
    </div>
    <br/>
    <br/>

</div>